

@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Oxygen:wght@300;400;700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;;
    color: #ffffff;
}
.person{
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 10px;
}
.quote{
    font-size: 15px;
    font-weight: 450;
    margin: 10px;
}
.about{
    font-size: 10px;
}
.person1{
    background-color: rgb(140, 39, 228);
}
.person2{
    background-color: rgb(177, 52, 52);
}
.person3{
    background-color: rgb(46, 126, 138);
}
.person4{
    background-color: rgb(18, 121, 73); 
    grid-column-end: span 2;   
}
.person5{
    background-color: rgb(139, 152, 3);
}
@media screen and (min-width:1000px) {

    .quotes-grid{
        display: grid;
        /* grid-template-columns: repeat(4, 1fr); */
        gap:15px;
        margin: 20px;
        max-height: 100%;
    }
    .person{
        margin:0;
    }
    .person1{
        grid-column-end: span 2;
        background-color: rgb(140, 39, 228);
        /* background-image: url(./images/bg-pattern.jpg); */
    }
    .person5{
        background-color: rgb(139, 152, 3);
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: -1;
        grid-row-end: -3;
    }

}



